.scroll-stack-scroller {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: visible;
  overscroll-behavior: contain;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  will-change: scroll-position;
}

.scroll-stack-inner {
  padding: 15vh 1rem 50rem;
  min-height: 100vh;
}

.scroll-stack-card-wrapper {
  position: relative;
}

.scroll-stack-card {
  transform-origin: top center;
  will-change: transform, filter;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  height: 16rem;
  width: 100%;
  margin: 20px 0;
  padding: 1.25rem;
  border-radius: 20px;
  box-sizing: border-box;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: relative;
}

@media (min-width: 640px) {
  .scroll-stack-inner {
    padding: 20vh 3rem 50rem;
  }
  .scroll-stack-card {
    height: 18rem;
    padding: 2rem;
    border-radius: 30px;
    margin: 25px 0;
  }
}

@media (min-width: 768px) {
  .scroll-stack-inner {
    padding: 20vh 5rem 50rem;
  }
  .scroll-stack-card {
    height: 20rem;
    padding: 3rem;
    border-radius: 40px;
    margin: 30px 0;
  }
}

.scroll-stack-end {
  width: 100%;
  height: 1px;
}
